<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
    	td{padding: 0 1em;}
    </style>
  </head>
  <body>
  	<%= content_tag(:h3, "Дата,время - #{I18n.l DateTime.now(), format: :long}") %>
  	<hr />
  	<table border="0">
  		<tbody>
  	<tr><td>Сообщение:</td><td><%= content_tag(:p , @send_data[:message]) %></td></tr>
  	</tbody>
  	</table>
  </body>
</html>
