<%= content_for :h1, content_tag(:h1, t(:page_del_410, scope: :errors), class: config_get('html', 'h1_class') + " errorscenter") %>

<div class='template errorscenter'>
	<div class='errors-container'>
		<span class='errors-number'>
			<i>410</i>
			<i>410</i>
			<i>410</i>
		</span>
		
		<span class='errors-title'>Что можно предпринять:</span>
		<ul class='errors-list'>
			<li>Поищите ошибки в написании URL, если вы ввели адрес самостоятельно.</li>
      <li>Воспользуйтесь меню и выберите другой раздел.</li>
      <% if Configuration.loaded_get('main', 'has_search') %>
        <li>Воспользутесь поиском. Вам непременно повезет!</li>
      <% end %>
		</ul>
	</div>
</div>
