<div class="editing" data-<%= data_name %>-id='<%= content.id %>' data-name='<%= data_name %>'>
  <textarea rows='1' class='js__edit-textarea content-area'><%= content.content_text %></textarea>
</div>
