input[type="radio"] {
  display:none;
}

input[type="radio"] + label {
  display: inline-block;
  color:#222;
  margin: 10px 0;
}

input[type="radio"] + label span {
  display:flex;
  justify-content: center;
  align-items: center;
  float: left;
  width:20px;
  height:20px;
  background-color: #ccc;
  border-radius: 50%;
  cursor:pointer;
  margin-right: 10px;
}

input[type="radio"]:checked + label span {
  background-color: #fff;
  border: 1px solid #222;
  border-radius: 50%;

  &:after{
    content: '';
    width: 12px;
    height: 12px;
    display: block;
    background-color: #222;
    border-radius: 50%;
  }
}
